<div>
    <p>Employee Document</p>
    <pdf-viewer [src]="pdfSrc" [render-text]="true" [original-size]="false"
        style="width: 1200px; height: 800px"></pdf-viewer>
    <div class="flex justify-around">
        <div class="flex flex-col flex-1 items-center">
            <button pButton pRipple type="button" label="Reject" class="p-button-rounded p-button-danger"></button>
            <textarea [rows]="5" [cols]="30" pInputTextarea [autoResize]="true"></textarea>
        </div>
        <div class="flex flex-1 items-start justify-center">
            <button pButton pRipple type="button" label="Approve"
                class="p-button-rounded p-button-success max-w-[fit-content]"></button>
        </div>
    </div>
</div>