<div class="flex flex-col items-center">
    <div style="width: 100%;">
        <pdf-viewer [src]="pdfSrc" [render-text]="true" [original-size]="false"
            [zoom-scale]="'page-width'"
            style="height: 800px"
        ></pdf-viewer>
    </div>
    <div class="flex justify-around">
        <div class="flex flex-col flex-1 items-center">
            <button pButton pRipple type="button" label="Reject" class="p-button-rounded p-button-danger"
                (click)="onReject(employeeId, '')"></button>
            <textarea [rows]="5" [cols]="30" pInputTextarea [autoResize]="true">
            </textarea>
        </div>
        <div class="flex flex-1 items-start justify-center">
            <button pButton pRipple type="button" label="Approve"
                class="p-button-rounded p-button-success max-w-[fit-content]" (click)="onApprove(employeeId)"></button>
        </div>
    </div>
</div>