 <app-navbar></app-navbar>
 <div class="p-4">
    <input pInputText [(ngModel)]="searchTerm" (input)="search()" placeholder="Search employees" class="p-inputtext-sm p-mr-2"/>
      <h3 class="text-base font-semibold leading-6 text-gray-900">Employees Infomation</h3>
      <!-- <h3 class="text-base font-semibold leading-6 text-gray-900">Number of employees: {{ employees.length }}</h3> -->
  
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <div *ngFor="let employee of employees | filter:searchTerm" class="border border-gray-400 rounded-md shadow-sm p-4 hover:bg-gray-100 transition duration-200 ease-in-out cursor-pointer">
            <div class="col-span-6 sm:col-span-6 lg:col-span-2">
            <a (click)="toggleDetailView(employee)" target="_blank" class="p-link">{{ employee.firstName }} {{ employee.lastName }}</a>
            <p>Email: {{ employee.email }}</p>
            </div>
  </div>
</div>