 <div class="p-4">
    <input type="text" [(ngModel)]="searchTerm" (input)="search()" placeholder="Search employees" class="p-2 border border-gray-400 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent w-full mb-4" />
  
    <div *ngIf="(loading$ | async)" class="text-center">Loading...</div>
    <div *ngIf="(error$ | async) as error" class="text-red-600">{{ error }}</div>
  
    <div *ngIf="!(loading$ | async) && !(error$ | async)">
      <h2 class="text-lg font-medium mb-4">Employee Profiles</h2>
      <p class="mb-4">Number of employees: {{ employees.length }}</p>
  
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <div *ngFor="let employee of employees | filter:searchTerm" class="border border-gray-400 rounded-md shadow-sm p-4 hover:bg-gray-100 transition duration-200 ease-in-out cursor-pointer">
          <a (click)="toggleDetailView(employee)" target="_blank" class="block text-blue-500 font-medium mb-2"><strong>Legal Name:</strong> {{ employee.firstName }} {{ employee.lastName}}</a>
          <p class="text-gray-600"><strong>Email:</strong> {{ employee.email }}</p>
        </div>
      </div>
    </div>
  </div>
  

