<app-navbar></app-navbar>
<div class="flex justify-end gap-2 bg-gray-50 px-4 py-3 text-right sm:px-6">
  <button
    pButton
    pRipple
    label="Add a House"
    class="p-button-sm"
    routerLink="/housing"
  ></button>
</div>

<div class="flex min-h-full items-center justify-center px-4 sm:px-6 lg:px-8">
  <div class="card overflow-hidden shadow sm:rounded-md my-10">
    <p-table #dt2 *ngIf="houses$ | async as houses" [value]="houses" datakey="id" [rows]="10" [showCurrentPageReport]="true"
    [paginator]="true" [rowsPerPageOptions]="[10,20,50]" [currentPageReportTemplate]="'{first} - {last} of {totalRecords}'">
     <ng-template pTemplate="header">
       <tr>
         <th>Address</th>
         <th>Landlord</th>
         <th>Number of residents</th>
         <th>Action</th>
       </tr>
      </ng-template>
      <ng-template pTemplate="body" let-house>
        <tr>
          <td>{{ house.address.streetName }} {{ house.address.buildingNumber }}, {{ house.address.city }} {{ house.address.state }} {{ house.address.zipCode }}</td>
          <td>{{ house.landlord.fullName }}</td>
          <td>{{ house.residents }}</td>
          <td>
            <button
            pButton
            pRipple
            label="Summary View"
            class="p-button-sm"
            routerLink="/houses/{{ house._id }}"
          ></button>
          </td>
        </tr>
      </ng-template>
  </p-table>
  </div>
</div>
