<div class="container">
    <h2>Add a New House</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h4>Address Information</h4>
      <div formGroupName="address">
        <div class="form-group">
          <label>Street Name:</label>
          <input type="text" formControlName="streetName" class="form-control" />
        </div>
        <div class="form-group">
          <label>Building Number:</label>
          <input type="text" formControlName="buildingNumber" class="form-control" />
        </div>
        <div class="form-group">
          <label>City:</label>
          <input type="text" formControlName="city" class="form-control" />
        </div>
        <div class="form-group">
          <label>State:</label>
          <input type="text" formControlName="state" class="form-control" />
        </div>
        <div class="form-group">
          <label>ZIP Code:</label>
          <input type="text" formControlName="zip" class="form-control" />
        </div>
      </div>
  
      <h4>Landlord Information</h4>
      <div formGroupName="landlord">
        <div class="form-group">
          <label>Full Name:</label>
          <input type="text" formControlName="fullName" class="form-control" />
        </div>
        <div class="form-group">
          <label>Phone Number:</label>
          <input type="text" formControlName="phoneNumber" class="form-control" />
        </div>
        <div class="form-group">
          <label>Email:</label>
          <input type="email" formControlName="email" class="form-control" />
        </div>
      </div>
  
      <h4>Facility Information</h4>
      <div formGroupName="facility">
        <div class="form-group">
          <label>Number of Beds:</label>
          <input type="number" formControlName="beds" class="form-control" />
        </div>
        <div class="form-group">
          <label>Number of Mattresses:</label>
          <input type="number" formControlName="mattresses" class="form-control" />
        </div>
        <div class="form-group">
          <label>Number of Tables:</label>
          <input type="number" formControlName="tables" class="form-control" />
        </div>
        <div class="form-group">
          <label>Number of Chairs:</label>
          <input type="number" formControlName="chairs" class="form-control" />
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary">Add House</button>
    </form>
  </div>
  
