<app-navbar></app-navbar>
<div *ngIf="house">
  <h3 class="text-base font-semibold leading-6 text-gray-900">Address:</h3>
    <p>
      {{ house.address.streetName }} {{ house.address.buildingNumber }},
      {{ house.address.city }}, {{ house.address.state }}, {{ house.address.zip }}
    </p>
  
    <h3 class="text-base font-semibold leading-6 text-gray-900">Landlord:</h3>
    <p>
      {{ house.landlord.fullName }}, {{ house.landlord.phoneNumber }},
      {{ house.landlord.email }}
    </p>
    <h3 class="text-base font-semibold leading-6 text-gray-900">Facility:</h3>
    <p>
      Beds: {{ house.facility.beds }}, Mattresses:
      {{ house.facility.mattresses }}, Tables: {{ house.facility.tables }},
      Chairs: {{ house.facility.chairs }}
    </p>

    <h3 class="text-base font-semibold leading-6 text-gray-900">Residents:</h3>
    <p> {{ house.residents }}</p>

    <h3 class="text-base font-semibold leading-6 text-gray-900">Roommates:</h3>
    <ul>
        <li *ngFor="let roommate of house.roommates">
          <p>First Name: {{ roommate.firstName }}</p>
          <p>Last Name: {{ roommate.lastName }}</p>
          <p>Phone Number: {{ roommate.phoneNumber }}</p>
        </li>
    </ul>     
      
    <p *ngIf="house.reports && house.reports.length > 0">
      Reports: {{ house.reports.join(", ") }}
    </p>
    <div class="flex justify-end gap-2 bg-gray-50 px-4 py-3 text-right sm:px-6">
      <button pButton pRipple label="Delete" class="p-button-sm" (click)="deleteHouse()"></button>
      <button pButton pRipple label="Back to Houses" class="p-button-sm" routerLink="/houses"></button>
  </div> 
</div>
  