<app-navbar></app-navbar>
<div class="flex min-h-full items-center justify-center px-4 sm:px-6 lg:px-8">
<div class="card overflow-hidden shadow sm:rounded-md my-10">
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="addNew()"></button>
        </ng-template>
    </p-toolbar>

    <p-table [value]="(registrationEmails$ | async)!" [rows]="10" [paginator]="true" [tableStyle]="{'min-width': '60rem'}">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                Manage Registration Emails
                <!-- <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                </span> -->
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Token</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-registration>
            <tr>
                <td>{{registration.firstName}} {{registration.lastName}}</td>
                <td>{{registration.email}}</td>
                <td>{{registration.token}}</td>
                <td><span [class]="'registration-badge status-' + registration.status.toLowerCase()">{{registration.status}}</span></td>
                <td><button pButton pRipple type="button" icon="pi pi-envelope" label="Resend" class="p-button-outlined p-button-info" [disabled]="registration.status.toLowerCase() === 'sent' || registration.status.toLowerCase() === 'registered'" (click)="resendEmail(registration._id)"></button></td>
            </tr>
        </ng-template>
    </p-table>


    <p-dialog [(visible)]="registrationDialog" [style]="{width: '450px'}" header="Send Registration Email" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content" [formGroup]="form">
            <div class="field">
                <label for="name">First Name</label>
                <input type="text" pInputText id="name" required autofocus formControlName="firstName"/>
                <!-- <small class="p-error" *ngIf="submitted && !registrationEmail.name">Name is required.</small> -->
            </div>
             <div class="field">
                <label for="name">MiddleName</label>
                <input type="text" pInputText id="email" required autofocus formControlName="middleName"/>
                <!-- <small class="p-error" *ngIf="submitted && !registrationEmail.email">Name is required.</small> -->
            </div>
            <div class="field">
                <label for="name">LastName</label>
                <input type="text" pInputText id="email" required autofocus formControlName="lastName"/>
                <!-- <small class="p-error" *ngIf="submitted && !registrationEmail.email">Name is required.</small> -->
            </div>
            <div class="field">
                <label for="name">Email</label>
                <input type="text" pInputText id="email" required autofocus formControlName="email"/>
                <!-- <small class="p-error" *ngIf="submitted && !registrationEmail.email">Name is required.</small> -->
            </div>

        </ng-template>
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Send Email" icon="pi pi-check" class="p-button-text" (click)="sendEmail()"></button>
        </ng-template>
    </p-dialog>
</div>
</div>
